language: python
fast_finish: true

os:
  - linux

python: 
  - 3.6
  - 3.5
  - 3.4
  - 2.7

group: travis_latest

git:
  depth: 3


install:
    - pip -q install -e .[tests]

script: pytest -v

after_success: 
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then 
    coverage run tests/test_all.py;
    coveralls;
    fi

