language: python

python:
    - 2.7
    - 3.5

sudo: false

notifications:
  email: false

git:
  depth: 1

before_install:
    - wget http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh
    - chmod +x miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH=$HOME/miniconda/bin:$PATH
    - hash -r
    - conda update --quiet --yes conda

install:
    - conda create --yes -n test python=$TRAVIS_PYTHON_VERSION
    - source activate test
    - pip -q install coveralls
    - python setup.py develop

script:
    - coverage run test/test.py

after_success:
    - if [[ ${TRAVIS_PYTHON_VERSION::1} -eq 2 ]]; then
        coveralls;
      fi
