name: ci

on:
  push:
    paths-ignore:
      - "**/*.md"
  pull_request:
    paths-ignore:
      - "**/*.md"

jobs:

  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, '3.x']
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install -e .[tests,lint,io]
    - run: flake8
    - run: mypy .
    - run: pytest
      working-directory: tests

  integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - run: pip install .[tests,io]
    - run: pytest
      working-directory: tests
