name: ci

on:
  push:
    paths:
    - "**.py"
    - .github/workflows/ci.yml

jobs:

  ci:
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        os: [ubuntu-latest]
        include:
        - os: windows-latest
          python-version: "3.11"
        - os: macos-latest
          python-version: "3.11"

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - run: pip install .[tests,lint,io]

    - name: syntax check
      timeout-minutes: 1
      if: runner.os == 'Linux'
      run: flake8

    - name: type annotation check
      timeout-minutes: 10
      if: runner.os == 'Linux'
      run: mypy

    - run: pytest
      timeout-minutes: 7
